:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --orange: #ef4947;
  --lightblue: #33b9e1;
  --mediumblue: #1a92c0;
  --darkblue: #006c9f;
  --dark: #003254;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 50px;
}

div.navbackground {
  width: 100%;
  background-image: url("./assets/banner.webp");
  height: 80px;

}

nav.menu {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  box-sizing: border-box;
  height: 100%;
  filter: opacity(0.8);
}

.menu ul {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-around;

}

.menu li {
  display: inline;
}

.menu li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.home h1 {
  font-size: 70px;
  margin: 15px;
}

.home main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home article {
  text-align: center;
  padding: 0px 50px 50px 50px;
  margin-top: 50px;
  width: 750px;
}

/* .selectgame a {
  padding:10px;
  border: 2px solid var(--orange);
  border-radius: 10px;
  color: var(--orange);
  font-weight:700;
  text-decoration: none;
  transition: 0.5s;
} 

.selectgame a:hover {
  background-color: var(--orange);
  color: white;
}  */

.selectgame a {
  display: inline-block;
  padding: .75rem 1.25rem;
  color: var(--orange);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .2s;
  position: relative;
  text-decoration: none;
  box-shadow: 0 0 0 2px var(--orange);
}

.selectgame a::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  transition: all .5s;
  z-index: -1;
}

.selectgame a.left::before {
  left: 0;
  width: 0%;
}

.selectgame a.right::before {
  right: 0;
  width: 0%;
}

.selectgame a.bottom::before {
  left: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
}

.selectgame a.left:hover::before,
.selectgame a.right:hover::before {
  width: 100%;
}

.selectgame a.bottom:hover::before {
  height: 100%;
}

.selectgame a:hover {
  box-shadow: 0 0 0 2px var(--orange);
  color: #fff;
  border-radius: 15px;
  transition: all 0.5s;
}

.selectgame a:hover::before {
  border-radius: 13px;
  background-color: var(--orange);
}


.games a:first-child {
  margin-right: 20px;
}

.games {
  margin-bottom: 20px;
}



main {
  width: 50%;
}

.flag-guessing-game article {
  display: flex;
  flex-wrap: wrap;
}

.guesstheflag {
  box-sizing: border-box;
  height: 15%;
  width: calc(50% - 2rem);
  object-fit: contain;
  margin: 1rem;
  max-height: 250px;
  cursor: pointer;
  object-fit:cover;
}

.nextgame {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  align-items:center;
}

.countdown {
  margin-left: 10px;
}


.youwon {
  text-align: center;
  background-color: #1A1A1A;
  padding: 25px;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: grow 0.5s ease-in-out forwards;
  border: 20px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youmissed{
  text-align: center;
  background-color: #1A1A1A;
  padding: 25px;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: grow 0.5s ease-in-out forwards;
  border: 20px solid var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youmissed img {
  animation: grow 0.5s ease-in-out forwards;
}

.wrongguess {
  color: var(--orange);
}

@keyframes grow {
  from {
    font-size: 0;
    width: 0;
    height: 0;
  }
  to {
    font-size: 1.2rem;
    width: 30%;
    height: 30%;
  }
}

.youmissed img {
  max-width: 150px;
  max-height: 150px;
  object-fit:contain;
}

.capitalflag {
  max-height:200px;
  max-width: 200px;
  object-fit: cover;
  text-align:center;
}

.capital-guessing-game .gamefield {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
}

.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.options p {
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin: 1rem;
  width: calc(50% - 4rem);
  padding: 1rem;
  box-shadow: 0 0 0 1px var(--orange);
}


@media (max-width: 1024px) {
  @keyframes grow {

    to {

      width: 50%;

    }
  }
}