body {
  display: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

div.navbackground {
  width: 100%;
  background-image: url("./assets/banner.webp");
  height: 80px;

}

nav.menu{
  background-color: #1a1a1a;
  box-sizing: border-box;
  height: 100%;
  filter: opacity(0.8);
}

.menu ul {
  margin: 0px;
  display: flex;
  justify-content: space-around;

}

.menu li {
  display:inline;
}

.menu li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

